* {
    box-sizing: border-box;
}

body {
    color: #535353;
    font-family: "open sans";
    margin: 8px;
}

h1, h2 {
    color: #4b2e83; 
    font-family: "Encode Sans";
    font-weight: 900;
}

h1 {
    font-size: 2.5rem;
    margin-top: 3em;
}

nav {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #4b2e83;
    padding: .75rem;
}

nav li {
    display: inline;
    padding-right: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    display: inline-block;
}

nav ul {
    padding: .5rem 0;
    margin: 0;
}

.searchBox {
    float: right;
}

input {
    height: 2.5rem;
    font-size: 1rem;
    padding: .5rem;
    vertical-align: bottom;
}