* {
    box-sizing: border-box;
}

body {
    color: #535353;
    font-family: 'Open Sans', sans-serif;
    margin: 8px;
}

h1, h2 {
    color: #4b2e83; 
    font-family: 'Encode Sans', sans-serif;
    font-weight: 900;
}

h1 {
    font-size: 2.5rem;
    margin-top: 3em;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4b2e83;
    padding: .75rem;
}

nav li {
    display: inline;
    margin-right: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #b7a57a;
    border-bottom-color: #b7a57a;
    border-bottom: .6rem;
    border-bottom: solid;
    padding-bottom: .8rem;
}

nav ul {
    padding: 0;
    margin: 0;
    padding-top: .5rem;
    display: inline-block;
}

.searchBox {
    float: right;
}

input {
    height: 2.5rem;
    font-size: 1rem;
    padding: .5rem;
    vertical-align: bottom;
}

button {
    height: 2.5rem;
    font-size: 1.5rem;
    padding: .3rem;
}

.logo {
    padding-left: 1em;
    padding-right: 1em;
    background-image: url('../img/ischool-symbol-white.png');
    background-repeat: no-repeat;
    background-position: left;
}

.skip-link {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip-link:focus, :active {
    position: relative;
    top: auto;
    overflow: auto;
    size: auto;
    color: white;
    border: none;
}